@font-face {
    font-family: "PoppinsR";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsM";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "PoppinsB";
    src: url(../fonts/Poppins-SemiBold.ttf);
}